@using SocialMedia.Core.Application.ViewModels.Users;
@model SaveUserViewModel;
@{
    ViewData["Title"] = "Crear usuario";
    bool editMode = Model.Id == "" ? true : false;
    ViewBag.EditMode = editMode;
}

<div class="row">
    <div class="col-6 offset-3">
        @await Html.PartialAsync("_SaveUser",Model)
    </div>
</div>

