

<div class=" p-2 bg-light">
    <div class="list-group ">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            Menu
        </a>
        <a asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action"><i class="bi-house-door"> Home</i></a>
        <a asp-controller="User" asp-action="SignOut" class="list-group-item list-group-item-action"><i class="bi-people"> Friends</i></a>
        <a asp-controller="User" asp-action="Profile" class="list-group-item list-group-item-action"><i class="bi-person"> Profile</i></a>
        <a asp-controller="User" asp-action="SignOut" class="list-group-item list-group-item-action"><i class="bi-box-arrow-left"> Sign out</i></a>
    </div>
</div>