@using SocialMedia.Core.Application.ViewModels.Users;
@model SaveUserViewModel;
@{
    bool editMode = ViewBag.EditMode;
}
<div class="card">
    <div class="card-header bg-dark text-light">
        <h4>@(editMode ? $"Editando usuario: {Model.UserName}" : "Creando un nuevo usuario")</h4>
    </div>
    <div class="card-body">
        @if (Model.HasError)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <p>@Model.ErrorDescription</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <form method="post" asp-controller="User" asp-action="@(editMode ? "Edit" : "SaveUser")" enctype="multipart/form-data">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="FirstName" class="form-label">Nombre:</label>
                    <input asp-for="FirstName" class="form-control">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="LastName" class="form-label">Apellido:</label>
                    <input asp-for="LastName" class="form-control">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="UserName" class="form-label">UserName:</label>
                    <input asp-for="UserName" class="form-control">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Email" class="form-label">Email:</label>
                    <input asp-for="Email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="Password" class="form-label">Contraseña:</label>
                    <input asp-for="Password" type="password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="ConfirmPassword" class="form-label">Confirmar Contraseña:</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="PhoneNumber" class="form-label">Teléfono:</label>
                    <input asp-for="PhoneNumber" class="form-control">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="File" class="form-label">Foto de Perfil:</label>
                    @if (editMode == true)
                    {
                        <input asp-for="File" class="form-control">
                    }
                    else
                    {
                        <input required asp-for="File" class="form-control">
                    }
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a asp-controller="User" asp-action="Index" class="btn btn-warning">Volver Atrás</a>
            </div>
        </form>

    </div>
</div>